Django==1.6.1
Powerline==beta
Twisted==13.2.0
cmsplugin-socialschools==1.0.8
cmsplugin-theme==1.0.3
distribute==0.6.49
django-grappelli==2.5.1
github3.py==0.8.0
ipython==1.1.0
mercurial==2.8.1
requests==2.2.0
stevedore==0.13
uritemplate.py==0.3.0
virtualenv==1.10.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
wsgiref==0.1.2
zope.interface==4.0.5
